<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="">
		<script src=""></script>
		<title>news</title>
	</head>
	<body>
		<form action="/news/getNews" method="get">
			關鍵字：<input type="text" name="search">
			<input type="submit" name="傳送">
		</form>

		<div style="border: thin solid black;float:left;width:700px">
			{% for post in news_list %}
			<h3>新聞：{{post.title}} {{post.date}}</h3>
			{% endfor %}
		</div>

		<div style="border: thin solid red;float:left">	
		{% for post in ptt_list %}
		<h4>PTT：{{post.title}} {{post.date}}</h4>
		{% endfor %}
		</div>

	</body>

</html>